@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Geologica&family=Jost:wght@600&family=Nunito&family=Questrial&display=swap');


body{
    background-color: darkred;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Geologica;

}
.dalst{
    font-size: 50px;
}
.dalvid{
    width: 600px;
    height: 500px;
}
.dals{
    width: 500px;
    height: 360px;
}
.dalsit{
    color: white;
    font-size: 40px;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
.dalserv{
    color: white;
    font-size: 35px;
}
.elis{
    color: white;
}
.dalmem{
    color: brown;
    font-size: 9px;
}
.bruh{
    color: gray;
    font-size: 20px;
}
